PGADMIN_EMAIL=pgadmin_email
PGADMIN_PASSWORD=pgadmin_pwd
PGADMIN_PORTS=5050

NGINX_PORTS=8000
FRONTEND_PORTS=5173:5173

PG_PORTS=5432:5432
REDIS_PORTS=6379:6379

PG_DB=nama_db
PG_USER=user_db
PG_PASSWORD=password_db

##ubah sesuai email, password anda.
